TZ=Europe/Amsterdam
MAILDATA_PATH=./data/maildata
ARCHIVE_USER=archive
ARCHIVE_PASSWORD=password
DOVECOT_IMAP_PORT=1143
GMAIL_ADDRESS=you@gmail.com
GMAIL_OAUTH_CLIENT_ID=your-client-id.apps.googleusercontent.com
GMAIL_OAUTH_CLIENT_SECRET=your-client-secret
GMAIL_OAUTH_REFRESH_TOKEN=
GMAIL_OAUTH_REDIRECT_URI=http://localhost:53682/
GMAIL_OAUTH_SCOPE=https://www.googleapis.com/auth/gmail.readonly
GMAIL_QUERY=
GMAIL_INCLUDE_SPAM_TRASH=false
GMAIL_BATCH_SIZE=200
GMAIL_PROGRESS_EVERY=25
MAIL_ROOT=/srv/vmail
IMPORT_STATE_DB=/srv/vmail/.gmail-import-state.sqlite
ROUNDCUBE_HTTP_PORT=8080
ROUNDCUBE_DES_KEY=change-this-to-24+chars
